flask
flask-cors
requests
pillow
python-whois
python-docx
PyMuPDF
selenium
bs4
lxml
python-dotenv
werkzeug
bcrypt
boto3
pyjwt
python-nmap         # ✅ For Nmap support
exifread
dnspython
psycopg2-binary
celery
redis
pyotp

