flask
flask-cors
requests
pillow
python-whois
python-docx
PyMuPDF
selenium
bs4
lxml
python-dotenv
werkzeug
file-saver
boto3
pyjwt
python-nmap         # ✅ For Nmap support
masscan             # ✅ For Masscan support
