flask
flask-cors
requests
pillow
python-whois
python-docx
PyMuPDF
selenium
bs4
lxml
python-dotenv
werkzeug
file-saver
boto3           # ✅ Needed for CloudWatch
pyjwt           # ✅ If using JWT for login/register
