@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #230632, #000000);
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}